.billing {
    background-color: #efefef;
    padding: 10px;
}

.scroll {
    max-height: 350px;
    overflow-y: auto;
    margin-top: 0.5rem;
}

.item-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.billing-container {
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.item-descriptions {
    display: flex;
    gap: 10px;
}

.items {
    display: flex;
    justify-content: space-between;
}

.item-information p {
    width: 16rem;
}

.item-information h4 {
    color: tomato;
}

.food-item-counter-billing {
    display: flex;
    width:4rem;
    background-color: white;
    border-radius: 13px;
    padding: 2px;
    align-items: center;
}

.food-item-counter-billing p {
    text-align: center;
}

.food-item-counter-billing img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.total h4 {
    color: tomato;
    font-size: 1.2rem;
}

.total p {
    font-weight: 600;
    font-size: 1.2rem;
}

.scroll::-webkit-scrollbar {
    background-color:#e2e1e1;
    width: 5px;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(248, 189, 53);
}

.place_order {
    outline: none;
    border: none;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.place-order-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:720px) {
    .billing-container {
        padding: 8px 0px;
    }

    .billing {
        padding: 2px;
    }
}